<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Dataset - Fundamentos de Machine Learning</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <script>

        $(document).ready(function () {
            var terminado = false;
            var cant_datos = 5;

            $("#mensaje").show();

            $.getJSON("https://raw.githubusercontent.com/xChoki/IntegracionJPN/main/templates/json/datos_ej.json", function (data) {
                console.log("cargados datos");
                $.each(data, function (i, item) {
                    console.log("mostrando datos");
                    $("#resultado").append("<tr><td>" + item.FIELD1 + "</td>" +
                        "<td>" + item.Map + "</td>" +
                        "<td>" + item.Team + "</td>" +
                        "<td>" + item.InternalTeamId + "</td>" +
                        "<td>" + item.MatchId + "</td>" +
                        "<td>" + item.RoundId + "</td>" +
                        "<td>" + item.SteamId + "</td>" +
                        "<td>" + item.RoundWinner + "</td>" +
                        "<td>" + item.MatchWinner + "</td>" +
                        "<td>" + item.Survived + "</td>" +
                        "<td>" + item.AbnormalMatch + "</td>" +
                        "<td>" + item.TimeAlive + "</td>" +
                        "<td>" + item.ScaledTimeAlive + "</td>" +
                        "<td>" + item.AvgCentroidDistance + "</td>" +
                        "<td>" + item.TravelledDistance + "</td>" +
                        "<td>" + item.AvgRoundVelocity + "</td>" +
                        "<td>" + item.AvgKillDistance + "</td>" +
                        "<td>" + item.AvgSiteDistance + "</td>" +
                        "<td>" + item.RLethalGrenadesThrown + "</td>" +
                        "<td>" + item.RNonLethalGrenadesThrown + "</td>" +
                        "<td>" + item.PrimaryAssaultRifle + "</td>" +
                        "<td>" + item.PrimarySniperRifle + "</td>" +
                        "<td>" + item.PrimaryHeavy + "</td>" +
                        "<td>" + item.PrimarySMG + "</td>" +
                        "<td>" + item.PrimaryPistol + "</td>" +
                        "<td>" + item.FirstKillTime + "</td>" +
                        "<td>" + item.RoundKills + "</td>" +
                        "<td>" + item.RoundAssists + "</td>" +
                        "<td>" + item.RoundHeadshots + "</td>" +
                        "<td>" + item.RoundFlankKills + "</td>" +
                        "<td>" + item.RoundStartingEquipmentValue + "</td>" +
                        "<td>" + item.TeamStartingEquipmentValue + "</td>" +
                        "<td>" + item.MatchKills + "</td>" +
                        "<td>" + item.MatchFlankKills + "</td>" +
                        "<td>" + item.MatchAssists + "</td>" +
                        "<td>" + item.MatchHeadshots + "</td>" +
                        "<td>" + item.AvgMatchKillDist + "</td></tr>");
                });
            });
        });
    </script>
</head>

<body class="">
    <header class="mb-auto">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Modelo predictivo</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/">Principal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://github.com/xChoki/IntegracionJPN"
                                    target="_blank">GitHub</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/info">Dataset</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="py-5 d-flex justify-content-center">
                    Información del Dataset.
                </h2>
                <p class="text-justify py-5 d-flex justify-content-center">
                    El DataSet a utilizar pertenece al juego de disparos en primera persona,
                    Counter-Strike Go. En Counter Strike: GO existen dos equipos de 5 jugadores
                    (denominados terroristas y contra-terroristas). El objetivo del equipo terrorista es
                    plantar una bomba con timer de 45 segundos en uno de dos sitios específicos
                    dentro de un mapa.
                    <br><br>
                    Los datos a utilizar corresponden a sobre 7000 partidas del juego (con un
                    máximo de 10 jugadores c/u). Los datos han sido extraídos de replays, los cuales
                    son archivos propietarios con la información de cada una de las acciones
                    realizadas por cada jugador dentro de una partida.
                    <br><br>
                    Los replays han sido extraídos de la red y pre-procesados utilizando un script.
                    Trabajaremos con el resultado de este pre-proceso el cual corresponde a un
                    archivo CSV con 79157 filas, cada una correspondiente a un jugador dentro de
                    una partida. El archivo contiene 36 columnas correspondientes a variables que
                    describen las acciones del jugador dentro del juego.
                </p>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Mostrar información de campos.
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Campo</th>
                                        <th>Explicación campo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Map</td>
                                        <td>Nombre del Mapa donde se jugó la partida</td>
                                    </tr>
                                    <tr>
                                        <td>Team</td>
                                        <td>Nombre de equipo al que pertenece el jugador</td>
                                    </tr>
                                    <tr>
                                        <td>MatchId</td>
                                        <td>Identificador de la partida</td>
                                    </tr>
                                    <tr>
                                        <td>RoundId</td>
                                        <td>Identificador de la ronda</td>
                                    </tr>
                                    <tr>
                                        <td>SteamID</td>
                                        <td>Identificador único del jugador</td>
                                    </tr>
                                    <tr>
                                        <td>MatchId</td>
                                        <td>Identificador de la partida</td>
                                    </tr>
                                    <tr>
                                        <td>MatchWinner</td>
                                        <td>Indica si el jugador ganó o no la partida.</td>
                                    </tr>
                                    <tr>
                                        <td>RoundWinner</td>
                                        <td>Indica si el jugador ganó o no la ronda analizada.</td>
                                    </tr>
                                    <tr>
                                        <td>Survived</td>
                                        <td>Indica si el jugador sobrevivió o no a la partida.</td>
                                    </tr>
                                    <tr>
                                        <td>AbnormalMatch</td>
                                        <td>Indica si la partida tuvo un error por conexión de red</td>
                                    </tr>
                                    <tr>
                                        <td>TimeAlive</td>
                                        <td>Indica el tiempo en segundos que el jugador estuvo vivo durante el juego</td>
                                    </tr>
                                    <tr>
                                        <td>ScaledTimeAlive</td>
                                        <td>Tiempo de vida del jugador escalado al tiempo de vida del jugador que más duró en la ronda.</td>
                                    </tr>
                                    <tr>
                                        <td>AvgCentroidDistance</td>
                                        <td>Distancia promedio del jugador al centroide del equipo.</td>
                                    </tr>
                                    <tr>
                                        <td>TravelledDistance</td>
                                        <td>Distancia promedio viajada por el jugador durante la partida.</td>
                                    </tr>
                                    <tr>
                                        <td>AvgSiteDistance</td>
                                        <td>Distancia promedio del jugador al objetivo más cercano.</td>
                                    </tr>
                                    <tr>
                                        <td>AvgRoundVelocity</td>
                                        <td>Velocidad promedio del jugador en la ronda.</td>
                                    </tr>
                                    <tr>
                                        <td>AvgKillDistance</td>
                                        <td>Distancia promedio viajada por el jugador antes de su primer kill.</td>
                                    </tr>
                                    <tr>
                                        <td>RLethalGrenadesThrown/RNonLethalGrenadesThrown</td>
                                        <td>Cantidad de granadas lanzadas, categorizadas en letales y no-letales.</td>
                                    </tr>
                                    <tr>
                                        <td>PrimaryXXXX</td>
                                        <td>Porcentaje de uso arma clasificada como primaria. Categorizada en AssaultRifle, SniperRifle, SMG, Heavy y Pistol.</td>
                                    </tr>
                                    <tr>
                                        <td>Match/RoundAssists</td>
                                        <td>Cantidad de asistencias efectuadas por el jugador durante la partida o la ronda.</td>
                                    </tr>
                                    <tr>
                                        <td>Match/RoundKills</td>
                                        <td>Cantidad de kills efectuados por el jugador durante la partida o la ronda.</td>
                                    </tr>
                                    <tr>
                                        <td>Match/RoundFlankKills</td>
                                        <td>Cantidad de kills efectuados por el jugador sin que la víctima lo viese durante la partida o la ronda.</td>
                                    </tr>
                                    <tr>
                                        <td>Match/RoundHeadShots</td>
                                        <td>Cantidad de kills efectuados por el jugador a través de un tiro en la cabeza durante la partida o la ronda.</td>
                                    </tr>
                                    <tr>
                                        <td>RoundStartingEquipmentValue</td>
                                        <td>Valor del equipamiento llevado por el jugador al inicio de la ronda.</td>
                                    </tr>
                                    <tr>
                                        <td>TeamStartingEquipmentValue</td>
                                        <td>Valor promedio del equipamiento llevado por el equipo del jugador al inicio de la ronda.</td>
                                    </tr>
                                    <tr>
                                        <td>AvgMatchKillDist</td>
                                        <td>Distancia promedio viajada por el jugador entre kills.</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Mostrar información de 10 filas.
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="table-responsive">
                            <table id="resultado" class="table">

                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Map</th>
                                        <th>Team</th>
                                        <th>InternalTeamId</th>
                                        <th>MatchID</th>
                                        <th>RoundID</th>
                                        <th>SteamID</th>
                                        <th>RoundWinner</th>
                                        <th>MatchWinner</th>
                                        <th>Survived</th>
                                        <th>AbnormalMatch</th>
                                        <th>TimeAlive</th>
                                        <th>ScaledTimeAlive</th>
                                        <th>AvgCentroidDistance</th>
                                        <th>TravelledDistance</th>
                                        <th>AvgRoundVelocity</th>
                                        <th>AvgKillDistance</th>
                                        <th>AvgSiteDistance</th>
                                        <th>RLethalGrenadesThrown</th>
                                        <th>RNonLethalGrenadesThrown</th>
                                        <th>PrimaryAssaultRifle</th>
                                        <th>PrimarySniperRifle</th>
                                        <th>PrimaryHeavy</th>
                                        <th>PrimarySMG</th>
                                        <th>PrimaryPistol</th>
                                        <th>FirstKillTime</th>
                                        <th>RoundKills</th>
                                        <th>RoundAssists</th>
                                        <th>RoundHeadshots</th>
                                        <th>RoundFlankKills</th>
                                        <th>RoundStartingEquipmentValue</th>
                                        <th>TeamStartingEquipmentValue</th>
                                        <th>MatchKills</th>
                                        <th>MatchFlankKills</th>
                                        <th>MatchAssists</th>
                                        <th>MatchHeadshots</th>
                                        <th>AvgMatchKillDist</th>
                                    </tr>
                                </thead>

                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Inicia FOOTER-->
    <footer class="page-footer">
        <div class="container">
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-12 py-5">
                    <div class="d-flex justify-content-center mb-5">

                        <!-- GitHub -->
                        <a href="https://github.com/xChoki/IntegracionJPN" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                class="bi bi-github" viewBox="0 0 16 16">
                                <path
                                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                            </svg>
                        </a>

                    </div>
                    <div class="footer-copyright text-center py-2">© 2022 Copyright:
                        <div class="row">
                            <a class="col-md-4 col-sm-12" href="">Carlos Muñoz</a>
                            <a class="col-md-4 col-sm-12" href="">Javier Quinteros</a>
                            <a class="col-md-4 col-sm-12" href="">Marcelo Rendón</a>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
        </div>
        <!-- Footer Elements -->
    </footer>
    <!-- Footer -->
</body>

</html>